# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# Build files
dist/
build/

# React
healthcare-frontend/node_modules/
healthcare-frontend/.env

# Backend
healthcare-backend/node_modules/
healthcare-backend/.env